{% extends 'base.html' %}
{% load static %}
{% static "Image" as baseUrl %}


 {% block title%}
     Teaching staff
  {% endblock %}
{% block body%}
<div class="p-3 mb-2 bg-warning text-white">
<p ><b> Registration of  Student </b></p></div>
<div class="p-3 mb-2 bg-info text-white">
<div class="ms-5">
  <form action="" method="post" id="stureg" name="stureg" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    
   
    <br>
     
      <div class="center" style="text-align: center;" >
            <div class="center" style="width: 500px; margin: 0 auto;" style="text-align: center;">
              {% comment %} <p class="text-success"> {% endcomment %}
                <b>छात्र का पंजीकरण प्रपत्र/ Student Registration Form.</b>
              {% comment %} </p> {% endcomment %}

            </div>
         <br>
      </div>
  <div class="row mb-3">
        
          <div class="form-group col-md-4">
            <label for="inputState">Name</label>
              <input type="text" class="form-control" id="stu" name ="stu" placeholder="Name/नाम" required=True>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Father'S Name</label>
              <input type="text" class="form-control" id="fnm" name ="fnm" placeholder="Father's Name/पिता का नाम" required=True>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Mother's Name</label>
              <input type="text" class="form-control" id="mnm" name ="mnm" placeholder="Mother's Name/माता  का नाम" required=True>
          </div>
          <div class="form-group col-md-4">
            <label for="Gender">Gender</label>
            <select id="gend" name="gend" class="form-control">
              <option selected>Choose...</option>
              {% for x,y in sex %}
                                    
              <option value = {{ x }}>{{ y }}</option>
                                  
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="dob">Date of Birth </label>
             <input type='date' class="form-control" id='dob' name='dob' />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Religion</label>
            <select id="rcat" name="rcat" class="form-control">
              <option selected>Choose...</option>
              {% for x,y in cstlist %}
                                    
              <option value = {{ x }}>{{ y }}</option>
                                  
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Category</label>
            <select id="scat" name="scat" class="form-control">
              <option selected>Choose...</option>
              {% for x,y in cstlist %}
                                    
              <option value = {{ x }}>{{ y }}</option>
                                  
              {% endfor %}
            </select>
          </div>
        
         <div class="form-group col-md-4">
            <label for="inputState">Blood Group</label>
        
            {% comment %} <select id="sbld" name="sbld" class="form-control">
              <option selected>Choose...</option>
              {% for x,y in catlist %}
                              
                <option value = {{ x }}>{{ y }}</option>
                            
              {% endfor %}
            </select> 
          </div> 
         
         
    </div>
      
      <div class="form-group col-md-4">
        
        <label for="subj">Role/Subject</label>
        {% comment %} {% if catr != 'T' %}
        <select id="subj" name="subj" class="form-control">
          <option value = 11 selected>Not Applicable</option>
         
        </select>
      
        {% else %} {% endcomment %}
          <select id="subj" name="subj" class="form-control" required>
          <option selected>Choose...</option>
          
            {% for entry in subjlist %}
                                
            <option value = {{ entry.id }}>{{ entry.sujcname }}</option>
                                
            {% endfor %}
         
        </select>
        {% comment %} {% endif %} {% endcomment %}

      </div>
      
      <div class="form-group col-md-4">
        <label for="dob">Date of Birth </label>
         <input type='date' class="form-control" id='dob' name='dob' />
      </div>
      <div class="form-group col-md-4">
        <label for="doj">Date of Joining </label>
         <input type='date' class="form-control" id='doj' name='doj' />
      </div>
      {% comment %} <div class="container">
        <div class="row">
           <div class='col-sm-6'>
              <div class="form-group">
                 <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id='datetimepicker1'/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                 </div>
              </div>
           </div>
                <script type="text/javascript">
                  $(function () 
                {
                  $('#datetimepicker1').datetimepicker();
               });
              </script>
        </div>
     </div> {% endcomment %}
      <div class="form-group col-md-4">
        <label for="inputPassword4">Aadhar Number  </label>
        <input type="text" class="form-control" id="saad" name="saad" placeholder="Aadhar Number ">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">MOBILE NUMBER </label>
        <input type="text" class="form-control" id="mob" name="mob"  placeholder="Mobile Number">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Email </label>
        <input type="text" class="form-control" id="email" name="email"  placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputaadhar">Bank Account Number </label>
        <input type="text" class="form-control" id="acct" name="acct"  placeholder=" Bank Account Number">
      </div>
      <div class="form-group col-md-4">
            <label for="inputState">Bank Name </label>
            <select id="bnk" name="bnk"class="form-control">
            <option selected>Choose Bank</option>
          {% for entry in bnklist %}
                            
            <option value = {{ entry.desigcd }}>{{ entry.deisgnm }}</option>
                            
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Qualification </label>
        <input type="text" class="form-control" id="qua" name ="qua" placeholder="Qualification">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Seniority Number </label>
        <input type="text" class="form-control" id="seno" name="seno" placeholder="Seniority Number">
      </div>
    </div>
    {% comment %} <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div> {% endcomment %}
    <div class="mx-auto"style="width: 500px;">
      <br>
        <button type="submit" class="btn btn-primary" id="save" name="save">Submit</button>
   
  </form>
</div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {% if submitted %}
  <script>
      alert("Saved Successfully");
      
    </script>
  {% endif %}
 

  {% endblock body %}